<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rickyabidin.com.utsakb4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="utsakb4"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="rickyabidin.com.utsakb4.MainActivity"
            android:label="utsakb4">
        </activity>

        <activity android:name="splash.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

 <!-- Ricky Abidin
     10116169
     IF-4
     20 Mei 2019 -->